<h1 class="page-title">Edit Chapter</h1>
<%= render "form" %>
<div class="inline-actions">
  <%= link_to "Show Chapter", book_chapter_path(@book, @chapter), class: "btn btn-secondary btn-sm" %>
  <%= link_to "Back to Book", book_path(@book), class: "btn btn-secondary btn-sm" %>
</div>

